body {
  background-color: #021a2b;
  font-family: system-ui;
  color: #f0f0f0;
  margin: 0px;
}

header, main, h1 {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, transparent, #134b73), url("assets/jwst.png");
  background-position: center;
}

footer {
  font-size: 0.5rem;
  padding: 20px;
}

p, ul {
  margin: 2em 1em;
}

a {
  color: #cbff3d;
  font-weight: bold;
}

h1 {
  margin: 20px;
}

#main-avatar {
  border-radius: 50%;
}

.zeeny {
  background-color: white;
  border: 2px solid black;
  box-shadow: 7px 7px black;
  background-color: white;
  padding: 5px;
  color: black;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.flex-row {
  display: flex;
  align-items: center;
}
